### 62. Display the data for all 'White Female' patients above the age of 50.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
workbook_url = 'HospitalDatabase.xlsx'
Patients_df = pd.read_excel(workbook_url,sheet_name='Patients')
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

In [3]:
Patients_df['DateOfBirth'] = pd.to_datetime(Patients_df['DateOfBirth'])
Patients_df['Year'] = Patients_df['DateOfBirth'].dt.year
Patients_df['Age'] = 2022 - Patients_df['Year']
Patients_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,Age
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,1960,62
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,1985,37
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,1976,46
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,1968,54
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,1962,60
...,...,...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English,1986,36
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English,1970,52
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English,1983,39
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English,1963,59
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English,1972,50

In [5]:
Patients_df['FullName'] = (Patients_df['FirstName']+' '+Patients_df['LastName'])
Female_df = Patients_df.loc[(Patients_df['Age'] > 50) & 
              (Patients_df['Race']== 'White') & (Patients_df['Gender']== 'Female')]
Female_df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,Year,Age,FullName
28,29,Ted,Scott,1967-12-09 05:01:37.892,Female,White,Spanish,1967,55,Ted Scott
30,31,Harry,Ding,1960-10-08 01:42:51.212,Female,White,Spanish,1960,62,Harry Ding
33,34,Ted,Hue,1960-11-28 18:05:11.459,Female,White,Spanish,1960,62,Ted Hue
34,35,Fred,Tye,1966-04-14 06:01:07.169,Female,White,Spanish,1966,56,Fred Tye
39,40,Christian,Pow,1971-12-07 11:47:43.885,Female,White,Spanish,1971,51,Christian Pow
...,...,...,...,...,...,...,...,...,...,...
865,866,Jermayne,Lowndes,1970-12-09 04:49:48.933,Female,White,English,1970,52,Jermayne Lowndes
866,867,Gail,Inc,1967-03-10 08:18:47.908,Female,White,English,1967,55,Gail Inc
867,868,Des,Heindrick,1969-08-15 11:05:30.165,Female,White,English,1969,53,Des Heindrick
869,870,Hauck,Rubbens,1963-11-16 03:31:38.929,Female,White,English,1963,59,Hauck Rubbens
873,874,Schroeder,McGarvey,1971-12-09 11:56:22.068,Female,White,English,1971,51,Schroeder McGarvey